<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <script src="https://kit.fontawesome.com/7a56001bea.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/home">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <li id="add"  data-toggle="tooltip" data-placement="top" title="Add a post"><a href="/compose"><i class="fa-solid fa-plus"></i></a></li>
          <li id="delete" data-toggle="tooltip" data-placement="top" title="Delete a post"><a href="/delete"><i class="fa-solid fa-trash"></i></a></li>
          <li id="logout" data-toggle="tooltip" data-placement="top" title="Exit"><a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
          </div>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
